body {
    background-color: paleturquoise;
    color: black;
    font-family: ;
}
p{
    line-height: 2em;
}
img {
    width:300px;
    float:left;
    border:solid 3px black;
    border-radius: 6px;
    margin-right: 20px;
}
