body {
    background-color: #eee8aa;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
}
p{
    line-height: 2.25em;
}
img {
    width:380px;
    float:left;
    border:solid 3px black;
    border-radius: 6px;
    margin-right: 20px;
    text-align:center
}

#MIT{
    float:right;
    width:350px;
    margin-left:20px
}

h1,h2{
    text-align:center;
    font-size:50px;
}

h2{
    font-size:40px;
}

.title{
    text-align:center;
    font-size:25px;
    padding:30px;
    padding-bottom: 0px;
}

.body{
    font-size:17px
}

h1,h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container{
    width: 1200px;
    margin: 0 auto;
    padding: 30px
}

.highlight{
    background-color: #E5D0E3;
}

a:link{
    color: red;
    font-weight: bold;
}

a:visited{
    color:darkred
}

a:hover {
  color: darkmagenta;
  color: magenta;
  font-size: 18px;
}

#sidebar{
    background-color: #f08080;
    border:solid black 3px;
    padding: 20px;
    width:250px;
    float:right;
    margin-left:20px;
    margin-bottom:20px;
    border-radius: 9px;
    padding:20px;
    padding-bottom: 90px;
    font-size:17px;
    padding-top: 0px;
}

#title2{
    font-size:30px;
    text-decoration: underline;
}

ul{
    line-height: 2em;
}

@media (max-width:1200px){
    #container{
        width:800px;
    }
    #NYC{
        width:800px;
        width:100%;
        margin-bottom:30px
    }
    #sidebar{
        padding-right:10px;
        padding-bottom:135px;
    }
}

@media (max-width:992px){
    #container{
        width:95%;
        margin-left:20px;
        padding:0;
    }
    #sidebar{
        width:25vw
    }
}

@media (max-width: 768px){
    #container{
        width:95%
    }
    #sidebar{
        display:none
    }
    img{
        display:none
    }
}

body{
    background: linear-gradient(-45deg,#23d5ab,#78C0E0,#EDD83D,#FC814A,#23d5ab,#78C0E0);
    background-size: 400% 400%;
    animation: gradientShift 30s linear infinite;
    min-height:100vh;
}

@keyframes gradientShift {
    0% {background-position: 0% 0%;}
    100% {background-position: 100% 100%;}
}